<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/createEvent.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <section class="py-5 bg-light position-relative overflow-hidden">
      <div class="container position-relative">
        <h1 class="text-center mb-5 fw-bold">Create Event</h1>
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6">
            <div class="card shadow rounded-4 border-0">
              <div class="card-body p-4">
                <form method="post" action="/create-event-submit">
                  <div class="mb-3">
                     <%- include('components/input', {
                      name: 'text',
                      label: 'Title',
                      id: 'title',
                      className: 'form-control',
                      required : true,
                      placeholder:"Enter Title"   
                }) %>
                  </div>

                  <div class="mb-3">
                    <label for="description" class="form-label"
                      >Description</label
                    >
                    <textarea
                      class="form-control"
                      id="description"
                      rows="3"
                      name="description"
                      placeholder="Enter Description"
                    ></textarea>
                  </div>

                  <div class="mb-3">
                     <%- include('components/input', {
                      name: 'date',
                      type: 'date',
                      label: 'Date',
                      id: 'date',
                      className: 'form-control',
                      required : true
                }) %>
                  </div>

                  <div class="mb-3">
                    <%- include('components/input', {
                      type : 'time',
                      name: 'time',
                      label: 'Time',
                      id: 'time',
                      className: 'form-control',
                      required : true
                }) %>
              
                  </div>

                  <div class="mb-3">
                     <%- include('components/input', {
                      name: 'text',
                      label: 'Location',
                      id: 'location',
                      className: 'form-control',
                      placeholder : 'Enter Location',
                      required : true
                }) %>
                  </div>

                  <div class="mb-3">

                     <%- include('components/input', {
                      type : 'number',
                      name: 'available_seats',
                      label: 'Total Seats',
                      id: 'seats',
                      className: 'form-control',
                      placeholder : 'Total Seats',
                      required : true
                }) %>
                  </div>

                  <div class="mb-3">

                    <%- include('components/input', {
                      type : 'file',
                      name: 'img',
                      label: 'Banner',
                      id: 'banner',
                      className: 'form-control',
                      required : true
                }) %>
                  </div>

                  <button type="submit" class="btn btn-primary w-100">
                    Create Event
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</html>
